version: '3'
services:
  ooth:
    build: ./ooth
    ports:
      - 3001:3001
    env_file: ./ooth/.env.docker
    volumes:
      - ./ooth:/ooth
    depends_on:
      - prisma
  api:
    build: ./api
    ports:
      - 3002:3002
    env_file: ./api/.env.docker
    depends_on:
      - prisma
    volumes:
      - ./api:/api
  client:
    build: ./client
    depends_on:
      - ooth
      - api
    ports:
      - 3000:3000
    volumes:
      - ./client:/client
  # Security review before use in production!
  prisma:
    image: prismagraphql/prisma:1.24
    ports:
      - 4466:4466
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: postgres
            host: postgres
            port: 5432
            user: prisma
            password: prisma
            migrations: true
    depends_on:
      - postgres
  postgres:
    image: postgres:10.5
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres: